@font-face {
  font-family: 'Josefin Sans Light';
  src:
    url('../fonts/JosefinSans-ExtraLight.woff') format('woff'),
    url('../fonts/JosefinSans-ExtraLight.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Josefin Sans';
  src:
    url('../fonts/JosefinSans-Regular.woff') format('woff'),
    url('../fonts/JosefinSans-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Josefin Sans - Semi Bold';
  src:
    url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
    url('../fonts/JosefinSans-SemiBold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Playfair Display - Black';
  src:
    url('../fonts/playfair-display-blackallfontru.woff') format('woff'),
    url('../fonts/playfair-display-blackallfontru.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/PlayfairDisplay-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}